@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


a{
    text-decoration: none;
    
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #18181B;
}

nav{
    max-width: 900px;
    margin: auto;
    padding: 2rem, 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #1d4ed8;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 70%;
}

img{
    width: 100%;
    display: flex;
}

.nav-logo{
    max-width: 100px;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.blur{
    position: absolute;
    box-shadow: 0px 0px 1000px 50px #1d4ed8;
    z-index: -100;
}

/*-----------------------------------------HEADER------------------------------------------*/
header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    top: 50px;
    
}

.arrow{
    position: fixed;
    width: 50px;
    height: 50px;
    border: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    bottom: 10px;
    color: #ccc;
}

#experience{
    align-items: baseline;
    top: 0;
    
}

#project{
    top: -200px;
}

header .content h4{
    margin-bottom: 1rem;
    color: #ccc;
    font-size: 1rem;
    font-weight: 600;
}

header .content h1{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3em;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

header .content p{
    margin-bottom: 2rem;
    color: #ccc;
}

header .image{
    position: relative;
}

header .image::before{
    content: "o";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    font-size: 32rem;
    font-weight: 500;
    line-height: 20rem;
    color: #1d4ed8;
    opacity: 0.2;
    z-index: -100;
}

header .image img{
    max-width: 600px;
    margin: auto;
}

section .header{
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.sub-header{
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #ccc;
}


.imgsection {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    border-radius: 50%;
}


.imgsection img {
    max-width: 100%;
    height: auto;
    
}


/*-----------------------------------------overview-------------------------------------*/
.overview{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.overview .card{
    padding: 3rem 2rem;
    background-color: #27272a;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.overview .card:hover{
    background-color: #323232;
    border-color: #fff;
}

.overview .card .content{
    flex: 1;
    margin-bottom: 2rem;
}

.overview .card h4{
    margin-bottom: 1rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}

.overview .card h3{
    color: #fff;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 2px dashed #fff;
}

.overview .card p{
    color: #fff;
    margin-bottom: 0.75rem;
}

.overview .card p i{
    color: #ccc;
    font-size: 1.2rem;
    margin-right: 0.3rem;
}

.overview .card button{
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
}

.overview .card button:hover{
    background-color: #1e40af;
    border-color: #1e40af;
}
/*----------------------------------------------------footer------------------------------------------------*/
footer{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

footer .column .logo{
    max-width: 100px;
    margin-bottom: 2rem;
}


footer .column .socials{
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .column .socials a{
    color: #ccc;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: all 0.3s ease;
}

footer .column .socials a:hover{
    color: #fff;
    background-color: #1d4ed8;
    border-color: #1d4ed8;
}

footer .column h4{
    display: flex;
    color: #fff;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    position: relative;
    top: 20px;
    justify-content: flex-end;
}

footer .column > a{
    display: flex;
    color: #ccc;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
    position: relative;
    top: 20px;
    justify-content: flex-end;
    
}

footer .column > a:hover{
    color: #1d4ed8;
}

.copyright{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
}

/* -------------------------------------Skill Bar------------------------------------- */
.skill{
    width: 500px;
    margin: 60px auto;
    color: #fff;
    padding: 20px;
    
}

.skill li{
    margin: 20px 0;
    padding: 10px;
    list-style: none;
}

.bar{
    background-color: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(125deg, rgba(236, 0, 140, 1)0%, rgba(252, 103, 103, 1)100%);
}

.htmlcss{
    width: 70%;
    animation: htmlcss 3s;
}

.javascript{
    width: 60%;
    animation: javascript 3s;
}

.csharp{
    width: 70%;
    animation: csharp 3s;
}

.python{
    width: 50%;
    animation: python 3s;
}

.sql{
    width: 80%;
    animation: sql 3s;
}

@keyframes htmlcss{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}

@keyframes csharp{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

@keyframes python{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}

@keyframes sql{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}

.features{
    margin-top: 4rem;
   
    gap: 2rem;
}

.features .card{
    background-color: #27272a;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.features .card:hover{
    background-color: #323232;
    border-color: #fff;
}

.features .card span{
    display: inline-block;
    background-color: #1e40af;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #fff;
    border-radius: 5px;
}

.features .card h4{
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

.features .card p{
    color: #ccc;
    margin-bottom: 2rem;
    
}

.features .card a{
    color: #fff;
    transition: all 0.3s ease;
}

.features .card a:hover{
    color: #1e40af;
}

.project img{
    cursor: zoom-in;
    border-radius: 10px;
    width: 600px;
    height: 400px;
}

input[type=checkbox]{
    display: none;
}

input[type=checkbox]:checked ~ label > img{
    transform: scale(1.5);
}

.project{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.portfolio-content{
    display: grid;
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2.5rem;
}


.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}


.row img{
    width: 50%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}

.row .img2{
    position: relative;
    left: 75px;
    width: 400px;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;

}


.portfolio-content .row p{
    margin-bottom: 1rem;
    color: #ccc;
    font-size: 1rem;
    
}

.portfolio-content .row .projectTitle{

    color: #ccc;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

.portfolio-content .row h5{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3em;
    font-weight: 700;
    line-height: 4rem;
}



.portfolio-content .content p{
    margin-bottom: 2rem;
    color: #ccc;
}

#contact form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    width: 100%;
    margin-top: -150px;

    
}



.container2 {
    position: relative;
    width: 100%;
    max-width: 1000px;
    padding: 50px;

 
    overflow: hidden;
    
}

.container2::before{
    content: '';
    position: absolute;
    top: 0;
    left: -40%;
    width: 100%;
    height: 100%;
    
    pointer-events: none;
}

.container2 h2{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 36px;
    margin-bottom: 20px ;
}

.container2 .row100{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
}

.container2 .row100 .col{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 20px;

}

.container2 .row100 .col .inputBox{
    position: relative;
    width: 100%;
    height: 40px;
    color: #fff;
}

.container2 .row100 .col .inputBox input,
.container2 .row100 .col .inputBox textarea{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 0 10px;
    z-index: 1;
    color: #000;
}

.container2 .row100 .col .inputBox .text{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}

.container2 .row100 .col .inputBox input:focus + .text,
.container2 .row100 .col .inputBox input:valid + .text,
.container2 .row100 .col .inputBox textarea:focus + .text,
.container2 .row100 .col .inputBox textarea:valid + .text{
    top: -35px;
    left: -10px;

}

.container2 .row100 .col .inputBox .line{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2%;
    background: #fff;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}

.container2 .row100 .col .inputBox input:focus ~ .line,
.container2 .row100 .col .inputBox input:valid ~ .line{
    height: 100%;
}

.container2 .row100 .col .inputBox.textarea{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
    resize: none;
}

.container2 .row100 .col .inputBox.textarea textarea{
    resize: none;
}

.container2 .row100 .col .inputBox textarea:focus ~ .line,
.container2 .row100 .col .inputBox textarea:valid ~ .line{
    height: 100%;
}

.container2 .row100 .col input[type=submit]{
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    outline: none;
    background: #fff;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    border-radius: 2px;
}

/*-----------------------------------------CV----------------------------------------------*/

.CVcontainer{
    width: 1000px;
    max-width: 100%;
    margin: auto;
    padding: 50px;
    display: grid;
    grid-template-columns: 35% 60%;
    column-gap: 5%;
    row-gap: 30px;
    color: #fff;
   
}

.avatar img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.avatar{
    display: flex;
    justify-content: end;
}

.name{
    padding-left: 30px;
    border-left: 1px solid #1d4ed8;
}

.name h1{
    font-weight: 300;
    font-size: xxx-large;
    margin: 0 0 5px;
}

.name .specialize{
    margin: 0;
    font-weight: bold;
    letter-spacing: 3px;
}

.name .contact{
    padding: 0;
    list-style: none;

}

.name .contact span{
    display: inline-block;
    background-color: #1d4ed8;
    color: #ccc;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: small;
    margin-right: 20px;
}

.name .contact li{
    padding: 5px 0;
    transform: translate(-40px);
}

.info ul{
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: right;
    line-height: 30px;
}

.intro{
    padding-left: 30px;
    border-left: 1px solid #1d4ed8;
    text-align: justify;
}

.intro h2{
    padding:0;
    margin: 0 0 20px;
}

.exp{
    text-align: right;
    
}

.exp h4{
    margin: 20px 0 10px;
}

.skills{
    margin-top: 50px;
}

.exp ul{
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 35px;

}

.education{
    padding-left: 30px;
    text-align: justify;
    border-left: 1px solid #1d4ed8;
}

.education .location{
    font-weight: 500;
    padding: 10px 0;
}

.education .item h4{
    position: relative;
}

.education .item h4::before{
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: #1d4ed8;
    content: '';
    border-radius: 50%;
    left: -37px;
    top: 5px;
}

.wrapper{
    width: 700px;
    margin: 0 auto;
    margin-bottom: 2rem;
    color: #ccc;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 50px;
}

th{
    text-align: left;
    
}

td{
    border: 2px solid #ccc;
    padding: 5px;
}

#tabledate{
    width: 100px;
}

#tableprogress{
    width: 100px;
}

caption{
    caption-side: bottom;
    padding: 20px;
}

.imagehobby {
    width: 400px; 
    height: 400px; 
}

.imagehobby img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    padding: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4), 0 0 3px rgba(0, 0, 0, 0.3);
}




header #hobbycontainer {
    margin-top: -20px; 
    
 
  }

#hobbycontainer p {
    margin-bottom: 250px; 
}


.photogallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    
}

.column.wide {
    grid-column: span 2;
}

.column {
    display: flex;
    flex-direction: column;
    padding: 5px;
}


.photo img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    padding: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4), 0 0 3px rgba(0, 0, 0, 0.3);
    
}


